body{
    background-color:#18bc9c;
}
.jumbotron{
    background-color: rgb(0,0,0,0.1);
    color:#fff;
}
a.nav-link{
    color:#dfdfdf;
}
a.nav-link.active{
    background: rgb(0,0,0,0.1);
    color:#fff;
}
pre.prettyprint{
    tab-size: 2;
    padding:10px !important;
}
.hide{
    display: none;
}
h3{
    text-indent: 1.5em;
}